# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create different levels of headers using markdown cells
* Create a numbered list using markdown cells
* Create an unordered bulletpoint list using markdown cells
* Create a table using markdown cells

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
| -------------------|
| Jupyter Notebooks |
| Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply and then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Ali